---
import { EducationItem, TechLogo } from "@components/index.astro";
import { LOGOS } from "@components/TechLogo.astro";
import { MainLayout } from "@layouts/index.astro";
import IITBLogo from "@assets/icons/iitb-logo.svg";
---

<MainLayout
  title="About"
  description="My name is Geet Sethi. I'm currently a student at the Indian Institute of Technology Bombay. I'm passionate about solving real world problems."
>
  <section>
    <h1 class="text-4xl font-bold">Welcome!</h1>
    <p class="mt-4 text-xl font-semibold text-slate-200">
      I'm <b class="font-semibold text-white">Geet Sethi</b>. I'm currently a
      student at the Indian Institute of Technology Bombay.
    </p>
    <div class="mt-6 text-slate-300">
      <p class="mt-2 text-lg">
        My expertise is in both frontend as well as backend development. I also
        have a some experience in low level systems programming.
      </p>
      <p class="mt-2 text-lg">
        I have a lot of experience with technologies such as:
        <b class="font-medium">
          JavaScript/TypeScript, Node.js, React.js, Next.js, Express,
          TailwindCSS, Python, Rust, C++, REST/GraphQL, SQL/NoSQL, and many
          more!
        </b>
      </p>
    </div>
  </section>

  <section
    class="group relative mt-14 flex select-none gap-6 overflow-x-hidden"
  >
    <div
      class="flex flex-shrink-0 animate-marquee gap-6 group-hover:[animation-play-state:paused]"
    >
      {LOGOS.map((logo) => <TechLogo name={logo.name} />)}
    </div>
  </section>

  <section class="mt-6">
    <h2 class="text-3xl font-semibold">Education</h2>
    <div class="mt-6">
      <EducationItem
        logo={IITBLogo}
        college="Indian Institute of Technology Bombay"
        startDate="July 2023"
        endDate="April 2027"
        isCurrent
      >
        <li>
          Built InstiGPT - a chatbot for IITB students in collaboration with AI
          Community IIT Bombay
        </li>
      </EducationItem>
    </div>
  </section>
</MainLayout>
