---
import { GithubIcon, TwitterIcon, LinkedInIcon } from "@components/index.astro";
---

<footer class="mx-auto mt-auto flex w-full justify-between p-6 text-slate-400">
  <p class="font-mono">Copyright &copy; 2024 Geet Sethi</p>
  <ul class="inline-flex items-center gap-3">
    <!-- GitHub -->
    <li class="hover:text-primary h-5 w-5 transition-colors duration-200">
      <a href="https://github.com/sethigeet" target="_blank">
        <GithubIcon />
      </a>
    </li>

    <!-- X (Twitter) -->
    <li class="hover:text-primary h-5 w-5 transition-colors duration-200">
      <a href="https://twitter.com/_geet_sethi_" target="_blank">
        <TwitterIcon />
      </a>
    </li>

    <!-- LinkedIn -->
    <li class="hover:text-primary h-5 w-5 transition-colors duration-200">
      <a
        href="https://www.linkedin.com/in/geet-sethi-085079281/"
        target="_blank"
      >
        <LinkedInIcon />
      </a>
    </li>
  </ul>
</footer>
