---
const pathname = new URL(Astro.request.url).pathname;
const currPath = pathname.replace(/\/$/, "");
---

<header class="mx-auto flex w-full items-center justify-between p-6">
  <a href="/" class="flex items-center">
    <div
      class="m-4 grid h-10 w-10 place-items-center rounded-full bg-primary text-white"
    >
      GS
    </div>
    <span class="text-2xl font-semibold">Geet Sethi</span>
  </a>

  <nav></nav>
  <ul class="inline-flex items-center gap-5 text-lg font-medium">
    {
      [
        { text: "Home", link: "/" },
        { text: "About", link: "/about" },
        { text: "Projects", link: "/projects" },
        { text: "Blog", link: "/blog" },
        { text: "Contact", link: "/contact" },
      ].map((item) => (
        <li class="menu-link transition-all duration-200 hover:text-primary">
          <a
            href={item.link}
            class:list={[
              { "active-link": item.link.replace(/\/$/, "") === currPath },
            ]}
          >
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</header>
