---
const { heading } = Astro.props;
---

<li class="toc-item">
  <a
    href={"#" + heading.slug}
    data-slug={heading.slug}
    class="toc-link block text-sm text-bone no-underline transition-colors duration-200 ease-in-out hover:text-vellum"
  >
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="subheadings mt-1.5 list-none space-y-1.5 border-l border-rule/80 pl-3">
        {heading.subheadings.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
