body {
  background: theme("colors.background-gradient");
  @apply min-h-screen text-gray-200;
}

.menu-link:hover,
.active-link {
  text-shadow: 0px 2px 18px theme("colors.primary");
}

.key-points-list li::marker {
  content: "❯  ";
  color: theme("colors.primary");
}

.tippy-box[data-theme='default'] {
  border-radius: 0.5rem;
  word-wrap: break-word;
}
