---
import { Tooltips } from "astro-tooltips";

import { Header, Footer } from "@components/index.astro";

const { frontmatter } = Astro.props;

import "../global.css";
---

<!doctype html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={frontmatter.excerpt} />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4BCAEA" />
  <meta name="msapplication-TileColor" content="#4BCAEA" />
  <meta name="theme-color" content="#4BCAEA" />

  <title>{frontmatter.title} | Geet Sethi</title>

  <Tooltips interactive={false} />
  <body>
    <div class="mx-auto flex min-h-screen max-w-7xl flex-col p-2 md:p-4">
      <Header />

      <main class="mx-auto w-full flex-1 prose prose-invert">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
